
{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron mt-5 editable" data-remote="{{ homepage.api }}" data-field="{{ homepage.field }}">
      {{ homepage.body|safe }}
    </div>
    <div class="row mt-0 mb-5">
        {% for package in packages %}
            <div class="col-md-4 mt-5">
                <div class="card">
                  <div class="card-body text-center">
                    <a class="card-title" href="{{package.url}}">{{package.name}}</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    <div>
{% endblock %}
